<h3>{{name}}</h3>

<p>{{input type="text" value=name}}</p>
<p>[{{fname}}] [{{lname}}]</p>
<p>{{input type="email" value=email}}</p>

<p>isDirty? {{isDirty}}</p>

<br />
<button {{action "save" model}}>Save</button>
<a href="#" {{action "cancel" model}}>Cancel</a>
