Clients page

<p>{{input type="text" value=query}}</p>

<table>
  {{#each client in filteredModel}}
    <tr>
      <td>{{#link-to "client" client}}{{client.name}}{{/link-to}}</td>
      <td>Email: {{client.email}}</td>
      <td>{{time-tracker start="startTimer" stop="stopTimer" model=client}}</td>
    </tr>
  {{/each}}
</table>

{{clientsCount}}
<br />

{{link-to "Just a Client" "client"}}
